$color-white: #ffffff;
$color-black-primary: #2b292d;
$color-title: #040404;
$color-description: #333333;
$color-title-secondary: #1f2430;
$color-subtitle: rgba(4, 4, 4, 0.12);
$color-blue: #007aff;
$color-grey-secondary: rgba(4, 4, 4, 0.12);
$color-grey-primary: rgba(51, 51, 51, 0.42);
$color-red: #d6001c;
$color-yellow: #ffe54f;

$font-size-basic: 14px;
$font-size-title-primary: '64px';
$font-size-title-secondary: '92px';

$font-regular: SF-Regular;
$font-medium: SF-Medium;
$font-semi-bold: SF-Semibold;
$font-extra-bold: SF-Black;